body{
    margin: 0;
    padding: 0;
    background: url(../img/fondo4.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif,verdana;
    height: 100vh;
}

.login-box{
    width: 320px;
    height: 420px;
    background: #EFE8FC;
    color: #0A000E;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #280245;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;

}

.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input{
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #0A000E;
    background: transparent;
    outline: none;
    height: 40px;
    color: #0A000E;
    font-size: 16px;
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #280245;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover{
    background: #635191;
    cursor: pointer;
}